*

!ros2_ws/
!Dockerfile
!entry_point.sh
!start_docker.sh
!pull.sh
!requirements.txt
!*.py
!*.md
!*.txt
!*.yaml
!*.yml
!scripts/
!config/
!userpassword
!config_runtime
!.tripwire

**/__pycache__/
**/*.pyc
**/.git/
**/.vscode/
**/.idea/
*.log
*.swp
*.swo
*~
.DS_Store